# Project 4 - West Nile Virus Prediction

## Problem Statement
The intent of this project is to analyze weather data and GIS data and predicting the presence of the West Nile virus, for a given time, location, and species.

##  General Approach
- [Data cleaning](#Data-Cleaning)
- [Data imputation](#Data-Imputation)
- [Data visualization](#Data-Visualization)
- [Feature selection](#Featuion-Selection)
- [Cross validation](#Cross-Validation)
- [Model fitting](#Model-Fitting)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.spatial.distance import cdist

In [2]:
# Load dataset 
train = pd.read_csv('assets/train.csv')
test = pd.read_csv('assets/test.csv')
sample = pd.read_csv('assets/sampleSubmission.csv')
weather = pd.read_csv('assets/weather.csv')
spray = pd.read_csv('assets/spray.csv')

### Data Cleaning

#### Cleaning train and test data

In [3]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [4]:
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [5]:
#Define function to get year and month from date
get_year = lambda x:x.split('-')[0]
get_month = lambda x:x.split('-')[1]

In [6]:
# Convert to date time format
train['Date'] = pd.to_datetime(train['Date'])
test['Date'] = pd.to_datetime(test['Date'])

In [7]:
#Find Satellite Trap in Train Data
satellite_trap = [t for t in train['Trap'].value_counts().index if len(t) == 5]
satellite_trap

['T054C', 'T094B']

In [8]:
#Find extra categories in Trap in Test data

extra = [t for t in test['Trap'].value_counts().index if t not in train['Trap'].value_counts().index]
extra

['T090A',
 'T065A',
 'T200A',
 'T218C',
 'T218B',
 'T090B',
 'T200B',
 'T002B',
 'T234',
 'T128A',
 'T090C',
 'T218A',
 'T002A']

'T234' is present in df_test['Trap'] but not df_train['Trap']

In [9]:
#convert all satellite trap to have the same trap name as parent trap
trap_rename = lambda x: x[0:4] if len(x)==5 else x
train['Trap'] = train['Trap'].apply(trap_rename)
test['Trap'] = test['Trap'].apply(trap_rename)

In [10]:
#Remove T in Trap name
remove_t = lambda x: x.replace('T','')
train['Trap'] = train['Trap'].apply(remove_t)
test['Trap'] = test['Trap'].apply(remove_t)

#Convert Trap type to int
train['Trap'] = train['Trap'].astype('int64')
test['Trap'] = test['Trap'].astype('int64')

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
Date                      10506 non-null datetime64[ns]
Address                   10506 non-null object
Species                   10506 non-null object
Block                     10506 non-null int64
Street                    10506 non-null object
Trap                      10506 non-null int64
AddressNumberAndStreet    10506 non-null object
Latitude                  10506 non-null float64
Longitude                 10506 non-null float64
AddressAccuracy           10506 non-null int64
NumMosquitos              10506 non-null int64
WnvPresent                10506 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 985.1+ KB

In [12]:
#Each row only has maximum 50 mosquito before a new row is created, need to sum up the total mosquito by species,
#trap,date and WnvPresent
train.groupby(['Date', 'Trap', 'Species','WnvPresent'], as_index=False)['NumMosquitos'].sum().sort_values(by='NumMosquitos')

           Date  Trap                 Species  WnvPresent  NumMosquitos
0    2007-05-29     2  CULEX PIPIENS/RESTUANS           0             1
4642 2009-09-25   128           CULEX PIPIENS           0             1
1806 2007-08-24    34           CULEX PIPIENS           0             1
4639 2009-09-25   115           CULEX PIPIENS           0             1
4638 2009-09-25   114  CULEX PIPIENS/RESTUANS           0             1
...         ...   ...                     ...         ...           ...
860  2007-08-01   115           CULEX PIPIENS           0          1543
1220 2007-08-08   138           CULEX PIPIENS           0          1558
1481 2007-08-16   115           CULEX PIPIENS           0          2050
1954 2007-08-28   115           CULEX PIPIENS           0          2107
566  2007-07-25   115           CULEX PIPIENS           0          2206

[8599 rows x 5 columns]

In [13]:
#merge total mosquito with train data
train = pd.merge(train, train.groupby(['Date', 'Trap', 'Species','WnvPresent'], as_index=False)['NumMosquitos'].sum(), 
                    how='left', on=['Date', 'Trap', 'Species','WnvPresent'])
#rename column wich include total mosquito
train.columns = ['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent','Tot_Mos_Species']
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Tot_Mos_Species
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,1

In [14]:
train = train[train.duplicated(subset=['Date', 'Trap', 'Species','Tot_Mos_Species','WnvPresent']) == False]
len(train)

8599

In [15]:
# remove redundant species name
train['Species'] = train['Species'].apply(lambda x:x.replace('CULEX',''))
test['Species'] = test['Species'].apply(lambda x:x.replace('CULEX',''))

In [16]:
# Grouping minority species as others 
train[['Species','WnvPresent']].groupby('Species').count()

                   WnvPresent
Species
 ERRATICUS                  1
 PIPIENS                 1994
 PIPIENS/RESTUANS        3893
 RESTUANS                2406
 SALINARIUS                83
 TARSALIS                   6
 TERRITANS                216

In [17]:
# Grouping minority species as others 

others = [' ERRATICUS',' SALINARIUS',' TARSALIS',' TERRITANS']
train['Species'] = train['Species'].apply(lambda x: 'Others' if x in others else x.replace(' ',''))
test['Species'] = test['Species'].apply(lambda x: 'Others' if x in others else x.replace(' ',''))

#### Cleaning Spray data

#### Cleaning Weather data.
We will look through the weather dataset to see if we can reasonably fill the missing values and drop columns which we feel are less or not relevant to help us predict the presence of the mosquito or virus.

In [18]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [19]:
weather_cols_drop = ['Depart', 'SunRise', 'SunSet', 'Depth', 'Water1', 'SnowFall', 'Heat', 'Cool']

In [20]:
# looking at the data types
weather.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

Some observations from looking at the weather types
- 'Tavg' should have a daya type of integer or float since it is the average of 2 integers ('Tmax' and 'Tmin'). 
- Features like 'Depart', 'Sunrise', 'Sunset', 'Depth', 'Water1', 'Snowfall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'AvgSpeed' should also be either integer or float.

In [21]:
# checking the values for 'Depart'
weather[weather['Depart'] == 'M'].head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5

In [22]:
# we will be dropping 'Depart' as all 'Depart' entries are missing from Station 2
weather.drop(columns='Depart', inplace=True)

In [23]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,51,56,0,2,0448,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,51,57,0,3,-,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,42,47,14,0,0447,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,42,47,13,0,-,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,40,48,9,0,0446,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [24]:
weather['PrecipTotal'] = weather['PrecipTotal'].map(lambda x: '0.00' if 'M' in x else x)
weather['PrecipTotal'] = weather['PrecipTotal'].map(lambda x: '0.00' if 'T' in x else x)

In [25]:
# convert to floating dtype
weather['PrecipTotal'] = weather['PrecipTotal'].astype(float)

In [26]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,51,56,0,2,0448,...,,0,M,0.0,0.0,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,51,57,0,3,-,...,,M,M,M,0.0,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,42,47,14,0,0447,...,BR,0,M,0.0,0.0,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,42,47,13,0,-,...,BR HZ,M,M,M,0.0,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,40,48,9,0,0446,...,,0,M,0.0,0.0,29.39,30.12,11.7,7,11.9

In [27]:
# obtaining Tavg from Tmin and Tmax
weather['Tavg'] = np.round(((weather['Tmax']+ weather['Tmin']) + 1)/2)
weather['Tavg'] = weather['Tavg'].astype(int)

In [28]:
weather.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg             int64
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal    float64
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [29]:
M_index = weather[weather['AvgSpeed'] == 'M']['AvgSpeed'].index

In [30]:
weather.loc[M_index, 'AvgSpeed'] = np.nan

In [31]:
weather['AvgSpeed'] = weather['AvgSpeed'].fillna(weather['AvgSpeed'].astype(float).mean())

In [32]:
weather['AvgSpeed'].value_counts()

6.9     63
5.8     60
7.4     55
8.1     49
7.0     47
        ..
23.2     1
16.8     1
26.3     1
23.1     1
16.9     1
Name: AvgSpeed, Length: 178, dtype: int64

In [33]:
weather['AvgSpeed'] = weather['AvgSpeed'].astype(float)

In [34]:
weather_cols_drop = ['Sunrise', 'Sunset', 'Depth', 'Water1', 'SnowFall']

In [35]:
weather.drop(columns=weather_cols_drop, inplace=True)

In [36]:
weather['Date'] = pd.to_datetime(weather['Date'])

In [37]:
weather.dtypes

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                    int64
DewPoint                int64
WetBulb                object
Heat                   object
Cool                   object
CodeSum                object
PrecipTotal           float64
StnPressure            object
SeaLevel               object
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
dtype: object

In [38]:
# since the value of DewPoint is similar for both stations on the same day, 
# we will replace the missing values with values from the same day. 
weather.loc[[848, 849, 2410, 2411, 2412, 2413, 2414, 2415], :]

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
848,1,2009-06-26,86,69,78,60,M,0,13,,0.00,M,29.85,6.4,4,8.2
849,2,2009-06-26,86,72,80,61,67,0,14,,0.00,29.20,29.83,6.4,4,8.0
2410,1,2013-08-10,81,64,73,57,M,0,8,,0.00,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81,68,75,55,63,0,10,,0.00,M,30.07,6.0,6,7.4
2412,1,2013-08-11,81,60,71,61,M,0,6,RA,0.01,29.35,30.07,2.0,27,3.0
2413,2,2013-08-11,84,63,74,57,64,0,9,,0.00,29.42,30.06,4.0,24,5.4
2414,1,2013-08-12,82,67,75,65,68,0,10,RA DZ,0.27,29.21,29.93,3.5,27,7.5
2415,2,2013-08-12,85,69,78,63,M,0,12,RA,0.66,29.27,29.92,4.5,26,7.7

In [39]:
# replace the values accordingly, converting series to int
weather.at[848, 'WetBulb'] = weather.at[849, 'WetBulb'] 
weather.at[2410, 'WetBulb'] = weather.at[2411, 'WetBulb'] 
weather.at[2412, 'WetBulb'] = weather.at[2413, 'WetBulb'] 
weather.at[2415, 'WetBulb'] = weather.at[2414, 'WetBulb'] 
weather['WetBulb'] = weather['WetBulb'].astype(int);

In [40]:
# verifying the change
weather.loc[[848, 849, 2410, 2411, 2412, 2413, 2414, 2415], :]

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
848,1,2009-06-26,86,69,78,60,67,0,13,,0.00,M,29.85,6.4,4,8.2
849,2,2009-06-26,86,72,80,61,67,0,14,,0.00,29.20,29.83,6.4,4,8.0
2410,1,2013-08-10,81,64,73,57,63,0,8,,0.00,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81,68,75,55,63,0,10,,0.00,M,30.07,6.0,6,7.4
2412,1,2013-08-11,81,60,71,61,64,0,6,RA,0.01,29.35,30.07,2.0,27,3.0
2413,2,2013-08-11,84,63,74,57,64,0,9,,0.00,29.42,30.06,4.0,24,5.4
2414,1,2013-08-12,82,67,75,65,68,0,10,RA DZ,0.27,29.21,29.93,3.5,27,7.5
2415,2,2013-08-12,85,69,78,63,68,0,12,RA,0.66,29.27,29.92,4.5,26,7.7

In [41]:
# looking through 'Heat'
weather['Heat'].value_counts()

0     1870
4       88
1       86
2       81
8       67
3       66
5       61
15      57
7       49
12      49
11      48
10      48
9       46
13      46
6       45
14      36
16      29
20      28
18      24
19      24
21      19
17      17
23      15
22      12
M       11
24       7
25       5
26       4
29       2
27       2
28       2
Name: Heat, dtype: int64

In [42]:
# we will drop both 'Heat' and 'Cool' as their values are mostly skewed to 0 
weather = weather.drop(columns=['Heat', 'Cool'])

In [43]:
# since the value of StnPressure is similar for both stations on the same day, 
# we will replace the missing values with values from the same day. 
# we will replace the rows 2410 and 2411 with the column mean as both stations have missing data
weather.loc[[86, 87, 848, 849, 2410, 2411], :]

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
86,1,2007-06-13,87,60,74,53,62,,0.0,29.36,30.09,7.2,5,8.600000
87,2,2007-06-13,86,68,78,53,62,,0.0,M,M,7.0,5,8.580449
848,1,2009-06-26,86,69,78,60,67,,0.0,M,29.85,6.4,4,8.200000
849,2,2009-06-26,86,72,80,61,67,,0.0,29.20,29.83,6.4,4,8.000000
2410,1,2013-08-10,81,64,73,57,63,,0.0,M,30.08,5.3,5,6.500000
2411,2,2013-08-10,81,68,75,55,63,,0.0,M,30.07,6.0,6,7.400000

In [44]:
# replace the values accordingly, converting series to float
weather.at[87, 'StnPressure'] = weather.at[86, 'StnPressure'] 
weather.at[848, 'StnPressure'] = weather.at[849, 'StnPressure']
weather.at[2410, 'StnPressure'] = np.nan
weather.at[2411, 'StnPressure'] = np.nan
weather['StnPressure'].fillna(weather['StnPressure'].astype(float).mean(), inplace=True)
weather['StnPressure'] = weather['StnPressure'].astype(float);

In [45]:
# verifying the change
weather.loc[[86, 87, 848, 849, 2410, 2411], :]

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
86,1,2007-06-13,87,60,74,53,62,,0.0,29.360000,30.09,7.2,5,8.600000
87,2,2007-06-13,86,68,78,53,62,,0.0,29.360000,M,7.0,5,8.580449
848,1,2009-06-26,86,69,78,60,67,,0.0,29.200000,29.85,6.4,4,8.200000
849,2,2009-06-26,86,72,80,61,67,,0.0,29.200000,29.83,6.4,4,8.000000
2410,1,2013-08-10,81,64,73,57,63,,0.0,29.284426,30.08,5.3,5,6.500000
2411,2,2013-08-10,81,68,75,55,63,,0.0,29.284426,30.07,6.0,6,7.400000

In [46]:
weather.dtypes

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                    int64
DewPoint                int64
WetBulb                 int64
CodeSum                object
PrecipTotal           float64
StnPressure           float64
SeaLevel               object
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
dtype: object

In [47]:
# since the value of SeaLevel is similar for both stations on the same day, 
# we will replace the missing values with values from the same day. 
weather.loc[[86, 87, 832, 833, 994, 995, 1732, 1733, 1744, 1745, 1756, 1757, 2066, 2067, 2090, 2091, 2742, 2743], :]

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
86,1,2007-06-13,87,60,74,53,62,,0.00,29.36,30.09,7.2,5,8.600000
87,2,2007-06-13,86,68,78,53,62,,0.00,29.36,M,7.0,5,8.580449
832,1,2009-06-18,80,61,71,63,67,RA BR,0.12,29.08,M,6.7,16,7.900000
833,2,2009-06-18,81,63,72,64,67,TSRA BR HZ,0.11,29.15,29.79,3.7,17,5.800000
994,1,2009-09-07,77,59,68,59,62,BR,0.00,29.39,M,5.8,3,4.000000
995,2,2009-09-07,77,63,70,59,63,BR HZ,0.00,29.44,30.09,6.3,4,6.900000
1732,1,2011-09-08,75,57,66,53,59,RA,0.00,29.34,M,13.0,2,13.400000
1733,2,2011-09-08,74,62,68,54,59,RA DZ BR,0.06,29.36,30.03,14.9,2,15.200000
1744,1,2011-09-14,58,47,53,43,49,RA BR HZ FU,0.08,29.39,30.09,6.3,34,7.300000
1745,2,2011-09-14,60,48,54,45,51,RA BR HZ FU,0.00,29.47,M,6.0,32,8.580449
1756,1,2011-09-20,74,49,62,54,58,MIFG BCFG BR,0.00,29.26,M,7.3,18,7.300000
1757,2,2011-09-20,75,53,64,54,58,FG+ BCFG BR,0.01,29.33,29.99,5.8,17,6.100000
2066,1,2012-08-22,85,54,70,52,60,,0.00,29.35,30.07,5.5,19,5.800000
2067,2,2012-08-22,84,72,78,51,61,,0.00,29.39,M,4.7,19,8.580449
2090,1,2012-09-03,88,71,80,70,73,BR,0.00,29.17,M,4.6,6,4.400000
2091,2,2012-09-03,87,73,80,69,73,,0.00,29.23,29.87,5.0,7,5.900000
2742,1,2014-07-23,75,59,68,51,58,,0.00,29.41,30.12,15.7,2,16.100000
2743,2,2014-07-23,76,64,70,56,61,,0.00,29.47,M,16.4,2,16.700000

In [48]:
# replace the values accordingly, converting series to float
weather.at[87, 'SeaLevel'] = weather.at[86, 'SeaLevel'] 
weather.at[832, 'SeaLevel'] = weather.at[833, 'SeaLevel'] 
weather.at[994, 'SeaLevel'] = weather.at[995, 'SeaLevel']
weather.at[1732, 'SeaLevel'] = weather.at[1733, 'SeaLevel'] 
weather.at[1745, 'SeaLevel'] = weather.at[1744, 'SeaLevel'] 
weather.at[1756, 'SeaLevel'] = weather.at[1757, 'SeaLevel'] 
weather.at[2067, 'SeaLevel'] = weather.at[2066, 'SeaLevel'] 
weather.at[2090, 'SeaLevel'] = weather.at[2091, 'SeaLevel'] 
weather.at[2743, 'SeaLevel'] = weather.at[2742, 'SeaLevel'] 
weather['SeaLevel'] = weather['SeaLevel'].astype(float);

In [49]:
# verifying the change
weather.loc[[86, 87, 832, 833, 994, 995, 1732, 1733, 1744, 1745, 1756, 1757, 2066, 2067, 2090, 2091, 2742, 2743], :]

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
86,1,2007-06-13,87,60,74,53,62,,0.00,29.36,30.09,7.2,5,8.600000
87,2,2007-06-13,86,68,78,53,62,,0.00,29.36,30.09,7.0,5,8.580449
832,1,2009-06-18,80,61,71,63,67,RA BR,0.12,29.08,29.79,6.7,16,7.900000
833,2,2009-06-18,81,63,72,64,67,TSRA BR HZ,0.11,29.15,29.79,3.7,17,5.800000
994,1,2009-09-07,77,59,68,59,62,BR,0.00,29.39,30.09,5.8,3,4.000000
995,2,2009-09-07,77,63,70,59,63,BR HZ,0.00,29.44,30.09,6.3,4,6.900000
1732,1,2011-09-08,75,57,66,53,59,RA,0.00,29.34,30.03,13.0,2,13.400000
1733,2,2011-09-08,74,62,68,54,59,RA DZ BR,0.06,29.36,30.03,14.9,2,15.200000
1744,1,2011-09-14,58,47,53,43,49,RA BR HZ FU,0.08,29.39,30.09,6.3,34,7.300000
1745,2,2011-09-14,60,48,54,45,51,RA BR HZ FU,0.00,29.47,30.09,6.0,32,8.580449
1756,1,2011-09-20,74,49,62,54,58,MIFG BCFG BR,0.00,29.26,29.99,7.3,18,7.300000
1757,2,2011-09-20,75,53,64,54,58,FG+ BCFG BR,0.01,29.33,29.99,5.8,17,6.100000
2066,1,2012-08-22,85,54,70,52,60,,0.00,29.35,30.07,5.5,19,5.800000
2067,2,2012-08-22,84,72,78,51,61,,0.00,29.39,30.07,4.7,19,8.580449
2090,1,2012-09-03,88,71,80,70,73,BR,0.00,29.17,29.87,4.6,6,4.400000
2091,2,2012-09-03,87,73,80,69,73,,0.00,29.23,29.87,5.0,7,5.900000
2742,1,2014-07-23,75,59,68,51,58,,0.00,29.41,30.12,15.7,2,16.100000
2743,2,2014-07-23,76,64,70,56,61,,0.00,29.47,30.12,16.4,2,16.700000

In [50]:
# since precipitation seems promotes breeding of mosquitos we will check for 'RA/DZ/TS' for occurance of rain
# we will create another column, 'Rain' and indicate 1 for 'RA/DZ/TS' and 0 for other codes
weather['Rain'] = weather['CodeSum'].apply(lambda x : 1 if 'RA' in x else (1 if 'DZ' in x else (1 if 'TS' in x else 0)))

In [51]:
# we will then drop 'CodeSum'
weather.drop(columns='CodeSum', inplace=True)

In [52]:
# verifying columns and datatypes
weather.dtypes

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                    int64
DewPoint                int64
WetBulb                 int64
PrecipTotal           float64
StnPressure           float64
SeaLevel              float64
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
Rain                    int64
dtype: object

#### Merging weather data to train/test data

Weather data is merged by the nearest station to the train data

In [53]:
def closest_point(point):
    station1, station2 = [41.995, -87.933], [41.786, -87.752]  # Fixed coordinates for two stations
    points = [station1, station2] 
    if cdist([point], points).argmin() == 0: return 1 # return index of closest point
    return 2

In [54]:
# Assign Station to train data based on station coordinates
train['Station'] = [closest_point(x) for x in train[['Latitude','Longitude']].values]
test['Station'] = [closest_point(x) for x in test[['Latitude','Longitude']].values]

In [55]:
# Merge weather data to train data base on date and station number
train = train.merge(weather, on=['Date','Station'])
test = test.merge(weather, on=['Date','Station'])

#### Merging spray data to train/test data

In [56]:
spray['Date'] = pd.to_datetime(spray['Date'])

In [57]:
# Returns the distance between the two points in Km

def haversine(lat1, lon1, lat2, lon2, to_radians=False, earth_radius=6371):
    if to_radians:
        lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))

In [58]:
for index, row in train.iterrows():
    x1=row['Latitude']
    x2=row['Longitude']
    train_date=row['Date']
    s=spray.loc[(spray['Date'] <= train_date - pd.Timedelta('1 day')) & 
                (spray['Date'] >= train_date - pd.Timedelta('5 days'))]
    s['dist'] = [haversine(x,y,x1, x2) for x,y in zip(s['Latitude'],s['Longitude'])]
    train.loc[(index), 'Spray_1_5'] = s[s['dist'] < 2.1].Date.count() 

    s=spray.loc[(spray['Date'] <= train_date - pd.Timedelta('6 day')) & 
                (spray['Date'] >= train_date - pd.Timedelta('50 days'))]
    s['dist'] = [haversine(x,y,x1, x2) for x,y in zip(s['Latitude'],s['Longitude'])]
    train.loc[(index), 'Spray_5_50'] = s[s['dist'] < 2.1].Date.count()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [59]:
train['Spray_5_50'].value_counts()

0.0    8536
1.0      39
6.0      18
2.0       6
Name: Spray_5_50, dtype: int64

In [60]:
train[train['Spray_5_50'] == 6]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,WetBulb,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Rain,Spray_1_5,Spray_5_50
7569,2013-08-01,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,62,0.00,29.29,29.95,6.2,29,7.1,0,0.0,6.0
7570,2013-08-01,"3900 North Springfield Avenue, Chicago, IL 606...",RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,62,0.00,29.29,29.95,6.2,29,7.1,0,0.0,6.0
7571,2013-08-01,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,62,0.00,29.29,29.95,6.2,29,7.1,0,0.0,6.0
7572,2013-08-01,"3900 North Springfield Avenue, Chicago, IL 606...",Others,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,62,0.00,29.29,29.95,6.2,29,7.1,0,0.0,6.0
7739,2013-08-08,"3900 North Springfield Avenue, Chicago, IL 606...",RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,62,0.00,29.33,29.96,10.5,5,10.8,0,0.0,6.0
7740,2013-08-08,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,62,0.00,29.33,29.96,10.5,5,10.8,0,0.0,6.0
7876,2013-08-15,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,58,0.00,29.47,30.13,4.5,22,5.0,0,0.0,6.0
7877,2013-08-15,"3900 North Springfield Avenue, Chicago, IL 606...",RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,58,0.00,29.47,30.13,4.5,22,5.0,0,0.0,6.0
7878,2013-08-15,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,58,0.00,29.47,30.13,4.5,22,5.0,0,0.0,6.0
8028,2013-08-22,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,68,0.36,29.42,30.05,2.5,24,7.0,1,0.0,6.0
8029,2013-08-22,"3900 North Springfield Avenue, Chicago, IL 606...",RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,68,0.36,29.42,30.05,2.5,24,7.0,1,0.0,6.0
8030,2013-08-22,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,68,0.36,29.42,30.05,2.5,24,7.0,1,0.0,6.0
8148,2013-08-29,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,69,0.00,29.36,30.00,4.2,10,4.6,0,0.0,6.0
8274,2013-09-06,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,63,0.00,29.44,30.11,4.3,17,6.0,0,0.0,6.0
8275,2013-09-06,"3900 North Springfield Avenue, Chicago, IL 606...",RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,63,0.00,29.44,30.11,4.3,17,6.0,0,0.0,6.0
8276,2013-09-06,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,63,0.00,29.44,30.11,4.3,17,6.0,0,0.0,6.0
8393,2013-09-12,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,64,0.06,29.34,29.97,6.8,34,9.8,0,0.0,6.0
8394,2013-09-12,"3900 North Springfield Avenue, Chicago, IL 606...",PIPIENS,39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,64,0.06,29.34,29.97,6.8,34,9.8,0,0.0,6.0

In [61]:
spray.head()

        Date        Time   Latitude  Longitude
0 2011-08-29  6:56:58 PM  42.391623 -88.089163
1 2011-08-29  6:57:08 PM  42.391348 -88.089163
2 2011-08-29  6:57:18 PM  42.391022 -88.089157
3 2011-08-29  6:57:28 PM  42.390637 -88.089158
4 2011-08-29  6:57:38 PM  42.390410 -88.088858

In [62]:
spray['Date'].value_counts()

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [63]:
train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent', 'Tot_Mos_Species', 'Station', 'Tmax',
       'Tmin', 'Tavg', 'DewPoint', 'WetBulb', 'PrecipTotal', 'StnPressure',
       'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Rain', 'Spray_1_5',
       'Spray_5_50'],
      dtype='object')

In [64]:
train.dtypes

Date                      datetime64[ns]
Address                           object
Species                           object
Block                              int64
Street                            object
Trap                               int64
AddressNumberAndStreet            object
Latitude                         float64
Longitude                        float64
AddressAccuracy                    int64
NumMosquitos                       int64
WnvPresent                         int64
Tot_Mos_Species                    int64
Station                            int64
Tmax                               int64
Tmin                               int64
Tavg                               int64
DewPoint                           int64
WetBulb                            int64
PrecipTotal                      float64
StnPressure                      float64
SeaLevel                         float64
ResultSpeed                      float64
ResultDir                          int64
AvgSpeed                         float64
Rain                               int64
Spray_1_5                        float64
Spray_5_50                       float64
dtype: object

In [65]:
train['Species'].value_counts()

PIPIENS/RESTUANS    3893
RESTUANS            2406
PIPIENS             1994
Others               306
Name: Species, dtype: int64

In [ ]:
train.columns

In [68]:
object_cols = train.select_dtypes(include=['object']).columns

In [ ]:
# object_cols = [c for c in train if c not in train.get_numeric_data]

In [69]:
categorical = ['Trap','Species','Rain']

In [70]:
numerical = [c for c in train._get_numeric_data() if c not in categorical]

In [71]:
categorical

['Trap', 'Species', 'Rain']

In [72]:
train = pd.get_dummies(train, columns=categorical, drop_first=True)

In [74]:
object_cols

Index(['Address', 'Species', 'Street', 'AddressNumberAndStreet'], dtype='object')

In [77]:
train.drop(columns=['Address','Street','AddressNumberAndStreet','Date','Block','Latitude','Longitude',
                   'AddressAccuracy','NumMosquitos'], inplace=True)

In [123]:
train.drop(columns=['Tot_Mos_Species'], inplace=True)

In [124]:
# Drop y data
X = train.drop(columns='WnvPresent')
y = train['WnvPresent']

In [163]:
train.to_csv('train_final.csv')

### Data Visualization

In [ ]:
spray.plot(kind='scatter', x='Latitude',y='Longitude')

In [ ]:
#establish figure size
plt.figure(figsize=(20,20))

#setting title
ax = plt.axes()
ax.set_title('Correlation Numerical Values in Weather')

#set up mask to be "True" in the upper triangle
mask = np.zeros_like(train.corr())
mask[np.triu_indices_from(mask)] = True

#plotting heatmap while masking upper triangle with white
with sns.axes_style("white"):
    sns.heatmap(train.corr(), mask=mask, square = True, annot=True)

### Feature Selection

### Cross Validation

### Model Fitting

In [139]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from pprint import pprint
# from imblearn.over_sampling import SMOTE

In [140]:
ss = StandardScaler()
X = ss.fit_transform(X)

In [142]:

# Building a pipeline
pipeline = Pipeline([
    ('lr', LogisticRegression())
])

# Setting base pipeline parameters
parameters = {
    'lr__penalty': ('l1','l2'),
#     'rf__max_depth': [1,2,None]
}

# Perfrom grid search
grid_search = GridSearchCV(pipeline, parameters, n_jobs=-1, verbose=1, cv=5)
print("Performing grid search...")
print("pipeline:", [name for name, _ in pipeline.steps])
print("parameters:")
pprint(parameters)
print()
grid_search.fit(X, y)

Performing grid search...
pipeline: ['lr']
parameters:
{'lr__penalty': ('l1', 'l2')}

Fitting 5 folds for each of 2 candidates, totalling 10 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 out of  10 | elapsed:    5.7s remaining:    3.8s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    7.4s finished
/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('lr',
                                        LogisticRegression(C=1.0,
                                                           class_weight=None,
                                                           dual=False,
                                                           fit_intercept=True,
                                                           intercept_scaling=1,
                                                           l1_ratio=None,
                                                           max_iter=100,
                                                           multi_class='warn',
                                                           n_jobs=None,
                                                           penalty='l2',
                                                           random_state=None,
                                                           solver='warn',
                                                           tol=0.0001,
                                                           verbose=0,
                                                           warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=-1, param_grid={'lr__penalty': ('l1', 'l2')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [143]:
grid_search.best_params_

{'lr__penalty': 'l1'}

In [144]:
lr = LogisticRegression(penalty='l1')

In [145]:
lr.fit(X,y)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l1',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [128]:
rf = RandomForestClassifier(n_estimators=100,max_depth=1)

In [129]:
rf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=1, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

### Clean test data

In [91]:
for index, row in test.iterrows():
    x1=row['Latitude']
    x2=row['Longitude']
    test_date=row['Date']
    s=spray.loc[(spray['Date'] <= test_date - pd.Timedelta('1 day')) & 
                (spray['Date'] >= test_date - pd.Timedelta('5 days'))]
    s['dist'] = [haversine(x,y,x1, x2) for x,y in zip(s['Latitude'],s['Longitude'])]
    test.loc[(index), 'Spray_1_5'] = s[s['dist'] < 2.1].Date.count() 

    s=spray.loc[(spray['Date'] <= test_date - pd.Timedelta('6 day')) & 
                (spray['Date'] >= test_date - pd.Timedelta('50 days'))]
    s['dist'] = [haversine(x,y,x1, x2) for x,y in zip(s['Latitude'],s['Longitude'])]
    test.loc[(index), 'Spray_5_50'] = s[s['dist'] < 2.1].Date.count()

In [92]:
test_object_cols = test.select_dtypes(include=['object']).columns

In [93]:
categorical = ['Trap','Species','Rain']

In [94]:
numerical = [c for c in test._get_numeric_data() if c not in categorical]

In [95]:
categorical

['Trap', 'Species', 'Rain']

In [96]:
test = pd.get_dummies(test, columns=categorical, drop_first=True)

In [97]:
object_cols

Index(['Address', 'Species', 'Street', 'AddressNumberAndStreet'], dtype='object')

In [98]:
test.drop(columns=['Address','Street','AddressNumberAndStreet','Date','Block','Latitude','Longitude',
                   'AddressAccuracy'], inplace=True)

In [119]:
X.shape

(8599, 152)

In [121]:
test.shape

(116293, 151)

In [122]:
for x_test in X.columns:
    if x_test not in test.columns:
        print(x_test)

Tot_Mos_Species

In [114]:
x_test_id = test['Id']

In [116]:
test.drop(columns=['Id','Trap_234','Species_UNSPECIFIED'], inplace=True)

In [130]:

X_test = ss.transform(test)

In [131]:
rf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [136]:
[i for i in y if i != 0]

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [146]:
lr.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [147]:
[i for i in lr.predict(X_test) if i != 0]

[]

In [148]:
sample.head()

   Id  WnvPresent
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0

In [158]:
submission = pd.DataFrame([x_test_id,lr.predict(X_test)]).T

In [160]:
submission.columns = ['Id','WnvPresent']

In [162]:
submission.to_csv('submission.csv')